@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&family=Varela+Round&display=swap');

/*
Color Hex codes!!! 
Magenta- #FF55BB
Orange- #FFD3A3
Yellow- #FCFFB2
Light Blue- #B6EAFA
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
   background-color: #FCFFB2; 
}
.navbar a {
    
    font-weight: 500;
    font-size: 16px;
    color: #311c1a;
    text-decoration: none;
    margin-left: 40px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #B6EAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 50px;
}


main{
    margin-top: 200px;
}

main img{
    height: 400px /*temp*/
}

p {
    color: #311c1a;
    font-size: 16px;
}

h1 {
    font-family: 'Send Flowers', cursive;
    color: #311c1a;
}

/* Get involved page START*/
.sectionwrap {
    column-count: 3;
    column-gap: 50px;
    column-rule: 4px dotted #FF55BB;
}

.category {
    break-inside: avoid;
    background-color: #ff55bb17;
    border: 2px solid #FF55BB;
    border-radius: 2%;
    padding: 10px;
    margin: 0 0 1em 0;
}

.contact {
    max-width: 820px;
    width: 90%;
    margin: 100px 150px;
    background-color:;     
}

.contact p {
}

.icon {
    display: flex;
    margin: auto;
    height: 70px;
    filter: invert(72%) sepia(66%) saturate(6215%) hue-rotate(298deg) brightness(105%) contrast(101%);
}
/* Get involved page END*/

/* Contact form START*/
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFD3A3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: #FF55BB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
/* Contact form END */
