@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&family=Varela+Round&display=swap');

/*
Color Hex codes!!! 
Magenta- #FF55BB
Orange- #FFD3A3
Yellow- #FCFFB2
Light Blue- #B6EAFA
*/

/* General coding styles start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
   background-color: #FCFFB2; 
   color: #4D312F;
   
}
/* General coding styles end */

/* Navbar starts */
.navbar a {
  font-weight: 500;
  font-size: 16px;
  color: #4D312F;
  text-decoration: none;
  margin-left: 40px;
  padding: 6px 15px; 
  border-radius: 20px; 
  transition: background-color 0.3s, color 0.3s; 
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #B6EAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 50px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
}

header ul li {
  margin-left: 20px;
}

header ul li a:hover {
  background-color: #FF55BB;
  color: #fff;
}
/* Navbar End */

/* Blank space */
.blank-space {
  height: 100px;
}
/* Blank space end */

h1 {
  text-align: center;
  margin-bottom: 40px;
  background-color: #FFD3A3;
  padding: 10px;
  border-radius: 20px;
  font-size: 28px;
}

main{
  padding: 00px 40px 20px 40px;
}

main img{
 width: 100%;
}

.mission p{
  max-width: 500px;
}

.home main{
  margin-top: -100px;
}

.hero {
  margin-top: 75px;
  background-color: #B6EAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding: 40px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-text {
  font-family: 'Send Flowers', cursive;
  color: #4D312F;
  font-size: 44px; 
  margin: 0;
  width: 40%;
  text-align: center;
}

.hero img{
  min-width: 50%;
}

.sectionwraphome{
  column-count: 2;
  column-gap: 50px;
}

p {
    color: #4D312F;
    font-size: 16px;
}

h1 {
    font-family: 'Send Flowers', cursive;
    color: #4D312F;
    margin-top: 10%;
}

.cta-button {
  background-color: #FF55BB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  
}

.center {
  text-align: center;
  margin-top: 60px;
}

/* Get involved page START*/
.sectionwrap {
    column-count: 3;
    column-gap: 50px;
    column-rule: 4px dotted #FF55BB;
}

.category {
    break-inside: avoid;
    background-color: #ff55bb17;
    border: 2px solid #FF55BB;
    border-radius: 2%;
    padding: 10px;
    margin: 0 0 1em 0;
}

.contactWrap {
    background-color: #ff55bb17;
    border: 2px solid #FF55BB;
    border-radius: 2%;
    padding: 10px;
}

.contact {
    margin: auto;
    width: 85%;
    padding: 125px;
}

.icon {
    display: flex;
    margin: auto;
    height: 70px;
    filter: invert(72%) sepia(66%) saturate(6215%) hue-rotate(298deg) brightness(105%) contrast(101%);
}
/* Get involved page END*/

/* Contact form START*/
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFD3A3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: #FF55BB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
/* Contact form END */

/* Footer */

footer{
  padding: 40px;
  background-color: #FFD3A3;
}
/* Footer */